@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
  margin:0px;
  padding:0px;
  border-sizing:border-box;
}
body,html{
  display:block;
  width:100%;
  height:100vh;
  font-family: 'Titillium Web', sans-serif;
  background:linear-gradient(to bottom,
  #49AFF9,
  #2E9BEC,
  #3E6F94);
  scroll-behavior:smooth;
}
section#area_de_trabalho{
  display:flex;
  flex-direction:column;
  align-items:center;
  width:100%;
  height:100%;
  color:white;
}
img{
  width:200px;
}
#foto_texto{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  font-size:1.4rem;
  font-weight:bold;
  margin-bottom:30px;
}
#foto_texto > p{
  font-size:1rem;
}
a{
  width:100%;
  font-size:.9rem;
  text-decoration:none;
  color:black;
}
#btn_redes{
  display:flex;
  flex-direction:column;
  align-items:center;
  width:100%;
  gap:30px;
}
button{
  display:flex;
  align-items:center;
  justify-content:center;
  width:90%;
  height:70px;
  padding:10px;
  border-radius:40px;
  font-weight:bold;
  background:white;
  border:solid white 2px;
}
button:hover{
  background:transparent;
  color:white;
}