@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Josefin sans,Poppins*/
*{
  margin:0;
  padding:0;
  border-sizing:border-box;
  font-size:100%;
  font-family:'Poppins',sans-serif;
}
body{
  width:100%;
  height:100vh;
  background:black;
}
header{
  display:flex;
  width:100%;
  height:100px;
  justify-content:space-around;
  align-items:center;
  color:#fff;
}
header > nav > ul{
  display:flex;
}
header > nav > ul > li{
  text-decoration:none;
  list-style:none;
}
header > nav > ul > li > a{
  display:inline-block;
  color:#7A7A7A;
  text-decoration:none;
  margin-left:30px;
  transition:.4s;
}
header > nav > ul > li > a:hover{
  color:#fff;
  transform:scale(1.05);
  cursor:pointer;
}
header > div > button,.btn{
  background:blue;
  border:none;
  padding:10px 16px;
  font-weight:600;
  border-radius:20px;
  color:white;
  transition:.4s
} 
header > div > button:hover
,.btn:hover{
  transform:scale(1.06);
  box-shadow:0px 0px 8px blue;
  cursor:pointer;
}
@media(max-width:600px){
 header > nav > ul > li{
   font-size:12px;
 }
 header > div > button{
  font-size:.8rem;
 }
}
main{
  width:100%;
  height:100vh;
}
section.interface{
  display:flex;
  justify-content:center;
  color:white;
}
.txt{
  margin-top:10%;
  width:100%;
  margin-left:50px;
}
.foto{
  display:block;
  width:100%;
  height:60vh;
}
.foto > img{
  width:450px;
  animation:imagemove 2s infinite alternate ease-in-out;
}
@keyframes imagemove{
  from{
    transform:translateY(-10px);
  }
  to{
    transform:translateY(20px);
  }
}
section.interface > .txt > h1{
  font-size:2rem;
  margin-bottom:25px;
}
section.interface > .txt> p{
  font-size:1rem;
  margin-bottom:30px;
}
section.interface > .txt > h1>span{
  color:blue;
}
@media(max-width:600px){
  section.interface{
    flex-direction:column;
  }
  section.interface > .txt{
    margin-left:20px;
  }
  section.interface > .txt > h1{
    font-size:1.4rem;
  }
  section.interface > .txt > p{
    font-size:1rem;
  }
}
.sobre{
  margin:100px 0px;
  text-align:center;
  color:#fff;
  text-align:center;
}
.sobre > h1{
  font-size:2rem;
  font-weight:800;
  margin:50px 0px;
}
.sobre > article > div > h1{
  margin:20px 0px;
}
.sobre > article > div > p{
  font-size:1.2rem;
  text-align:start;
  margin:20px 0px;
}
.sobre > article > div > h2{
  font-size:2rem;
}
.sobre  .destaque{
  color:blue;
}
.sobre > article{
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:space-around;
  margin:20px;
}
.sobre > article > div > .material-symbols-outlined{
  transform:scale(2.5);
  color:blue;
  margin:30px 0px;
}
.sobre > article > div{
  box-shadow:0px 0px 1px blue;
  padding:35px;
  border-radius:10px;
  transition:.4s;
}
.sobre > article > div:hover{
  box-shadow:0px 0px 6px blue;
  transform:scale(1.05);
}
@media (max-width:500px) {
  .sobre > h1{
    font-size:1.5rem;
  }
  .sobre > article{
    flex-direction:column;
    justify-content:space-between;
    height:100%;
  }
  .sobre > article > div>p{
    font-size:1rem;
  }
  .sobre > article > div > .material-symbols-outlined{
    margin:20px 0px;
  }
}
.sobre-mim{
  display:flex;
  color:#fff;
}
.interface > div.foto-sobre > img{
  width:70vh;
  height:100vh;
  filter:contrast(120%);
}
.falando-de-min{
  flex-direction:column;
  font-weight:600;
  margin:0px 50px;
}
.falando-de-min > h1{
  font-size:1.9rem;
  margin:35px 0px;
}
.falando-de-min > p{
  margin:35px 0px;
}
.destaque{
  color:blue;
}
.interface > div.falando-de-min > button{
  display:flex;
  align-items:center;
  justify-content:center;
  font-weight:600;
  width:50px;
  height:50px;
  border-radius:50%;
}
.interface > div.falando-de-min > button > span{
  transform:scale(1.2);
}
@media(max-width:500px){
  .interface > div.foto-sobre > img{
    width:100%;
  }
}
.fale-comigo{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  text-align:center;
  margin:35px 0px;
}
.fale-comigo > .interface >  h1{
  color:blue;
  margin:35px 0px;
  font-size:2rem;
}
.fale-comigo > .interface > form>input{
  padding:15px;
  border:none;
  border-radius:10px;
  box-shadow:0px 0px 3px gray;
  background:black;
  margin-bottom:20px;
  outline:none;
  opacity:0.9;
  color:gray;
  transition:4s;
}
.fale-comigo > form> input:hover{
  opacity:1;
}
.fale-comigo > .interface > form{
  display:flex;
  flex-direction:column;
  padding:25px;
}
footer{
  display:flex;
  flex-direction:column;
  justify-content:center;
  padding:35px;
  color:#fff;
  padding:40px 0px;
  box-shadow:0px -1px 14.7px gray;
}
footer> h3{
  font-size:1.3rem;
  margin-left:20px;
}
footer > hr{
  width:100%;
  margin:20px 0px;
  background:blue;
}
footer > p{
  display:flex;
  align-items:center;
  margin-left:20px;
}
.footer > p> span{
  color:blue;
}
@media(max-width:1020px){
  header nav ul{
    display:none;
    position:fixed;
    top:0;
    right:0;
    width:70%;
    height:100%;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:black;
    transform:translateX(100px);
    z-index:999;
  }
  header nav ul span{
    position:absolute;
    top:20px;
    right:250px;
    transform:scale(1.8);
    color:blue;
  }
  header > div> button{
    display:none;
  }
  header nav ul li{
    width:100%;
    text-align:center;
    font-size:1.5rem;
    padding:40px 0px;
  }
  header nav ul li:hover{
    background:blue;
  }
  .menu  span{
    position:absolute;
    top:20px;
    right:30px;
    display:block;
    transform: scale(1.5);
    color: blue;
  }
  section.interface{
    padding-top:20px;
  }
  .lado-menu > ul{
    position:fixed;
    width:100%;
    height:100vh;
    display:block;
    color:white;
  }
  .open{
    display:flex;
    transform:translateX(0px);
    animation:open_exit .4s linear;
  }
  @keyframes open_exit{
    from{
      transform:translateX(200px);
    }
    to{
      transform:translateX(0);
    }
  }
}

/*CDN ScrollReveal*/
.txt,.criado,.text,.div,.img,.fala,.input{
  visibility:hidden;
}