/*Fonte do Google-Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/*Estiiza;ao global*/

*{
  margin:0;
  padding:0;
}
body{
  width:100%;
  height:100vh;
  background:rgb(2, 2, 20);
}
header{
  display:flex;
  align-items:center;
  justify-content:space-around;
  width:100%;
  height:80px;
  font-family:"Raleway",sans-serif;
  color:white;
}
div#marca > p#logo{
  font-size:17px;
}
strong.destaque-cor{
  color:rgb(30, 255, 0);
  font-weight:bold;
}
ul#links{
  display:flex;
  align-items:center;
  width:400px;
  font-size:.9rem;
  list-style:none;
  gap:15px;
}