/*Fonte do Google-Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/*Estiiza;ao global*/

/*variaveis em Css*/
:root{
  --green-1:rgb(30,255,0);
}

*{
  margin:0;
  padding:0;
}
body{
  width:100%;
  height:100vh;
  background:rgb(2, 2, 20);
}
header{
  display:flex;
  align-items:center;
  justify-content:space-around;
  width:100%;
  height:80px;
  font-family:"Raleway",sans-serif;
  color:white;
}
div#marca > p#logo{
  font-size:18px;
  font-family:"Poppins",sans-seri;
}
strong.destaque-cor{
  color:var(--green-1);
  font-weight:bold;
}
ul#links{
  display:flex;
  align-items:center;
  font-size:.9rem;
  list-style:none;
  color:#e7e7e7e8;
  gap:50px;
}
.svglua{
  width:20px;
}
div > button#contato_butao{
  width:160px;
  height:37px;
  border: none;
  border-radius:20px;
  background:var(--green-1);
  color:white;
  margin-left:20px;
}
@media(max-width:600px){
  header{
    height:60px;
  }
  div#marca > p#logo{
    font-size:14px;
  }
  ul#links{
    display:none;
  }
}
section.inicio{
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
  height:70vh;
  font-family:"Raleway",sans-serif;
  color:white;
}
section.inicio > #texto-inicial{
  display:flex;
  align-items:left;
  justify-content:center;
  flex-direction:column;
  width:60%;
}
section.inicio > #texto-inicial > h3{
  font-weight:300;
}
section.inicio > #texto-inicial > h1{
  font-size:6rem;
  font-weight:300;
  margin:8px 0px;
}
section.inicio > #texto-inicial > p{
  font-size:.9rem;
  font-weight:200;
  color:#ffffff71;
  margin-bottom:20px;
}
#acesso{

}
#acesso > button{
  width:150px;
  height:35px;
  border: none;
  border-radius:20px;
  background:var(--green-1);
  color:white;
  margin-left:20px;
}
#acesso > #linkkedln_butao{
  background: none;
  border:solid .5px white;
}
#pefil{
  width:200px;
}