/*Fonte do Google-Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
::-webkit-scrollbar{
    display:block;
    width:5px;
    background:transparent;
  }
  ::-webkit-scrollbar-thumb{
    background:rgb(1, 255, 107);
    border-radius:20px;
  }
*{
    margin:0;
    padding:0;
}
body{
    font-family:"Poppins",sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100dvh;
    background:rgb(5, 8, 17);
    color:white;
    z-index:1;
}
div{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background:rgba(1, 1, 14, 0.37);
    width:100%;
    height:100vh;
    padding:20px 20px 20px 0px;
}
div:nth-child(1){
    width:80%;
}
body > div:nth-last-child(2){
    background:rgb(2, 3, 19);
}
form{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    border-radius:4px;
    width:60%;
    height:100vh;
    gap:14px;
    z-index:2;
}
form > h1{
    color:rgb(1,255,107);
    font-size:1.1rem;
    font-weight:600;
    align-self:start;
    margin:20px 0px 0px 0px;
}
form > label{
    display:flex;
    align-items:start;
    justify-content:center;
    flex-direction:column;
    width:100%;
}
form >label >  input{
    width:90%;
    height:20px;
    background:transparent;
    border:solid rgb(1,255,107) 1px;
    border-radius:20px 0px 20px 0px;
    color:rgb(1,255,107);
    margin:14px 0px;
    padding:8px 9px;
}
textarea{
    width:100%;
    margin:10px 0px;
    background:transparent;
    color:white;
}
form button{
    width:180px;
    height:40px;
    color:white;
    background:rgb(1,255,107);
    box-shadow:0px 0px 0px rgb(1,255,107);
    padding:10px 5px;
    border-radius:0px 10px 0px 10px;
    border:none;
}
::placeholder{
    color:white;
    padding:3px 5px;
}
img{
    width:480PX;
}
hr{
    width:100%;
    border-color:rgb(1,255,107);
}
@media(max-width:1200px){
    div{
        width:100%;
        background:transparent;
    }
    form{
        width:80%;
    }
    div:nth-child(2){
        display:none;
    }
    img{
        display:none;
    }
}