/*Fonts*/
@font-face {
  font-family:primeira;
  src: url("fonts/Poppins-ExtraBoldItalic.ttf");
}
@font-face{
  font-family:segunda;
  src:url("fonts/Poppins-ExtraBold.ttf");
}
@font-face {
  font-family:terceira;
  src: url("fonts/Inconsolata-VariableFont_wdth,wght.ttf");
}
*{
  margin:0px;
  padding:0px;
  border-sizing:border-box;
}
body,html{
  width:100%;
  height:100vh;
}
body{
  background:black;
}
header#navegaao{
  
}
/*Fonts*/
@font-face {
  font-family:primeira;
  src: url("fonts/Poppins-ExtraBoldItalic.ttf");
}
@font-face{
  font-family:segunda;
  src:url("fonts/Poppins-ExtraBold.ttf");
}
@font-face {
  font-family:terceira;
  src: url("fonts/Inconsolata-VariableFont_wdth,wght.ttf");
}
*{
  margin:0px;
  padding:0px;
  border-sizing:border-box;
}
body,html{
  width:100%;
  height:100vh;
}
body{
  background:black;
}
header#nave{
  position:fixed;
  top:0;
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:100%;
  height:70px;
  border:transparent;
  font-family:primeira;
  background:transparent;
  z-index:1;
}
.logo{
  display:block;
  font-size:1.2rem;
  font-weight:bold;
  color:black;
}
ul#menu{
  display:flex;
  gap:20px;
  list-style:none;
}
a{
  text-decoration:none;
  color:white;
  padding:10px;
  transition:.6s;
  color:white;
}
a:hover{
  background:blue;
  color:#CDCFE1;
}
/*efeitos de estiliza;ao especiais*/
.color-blue{
  color:red;
}
.color-back{
  background:blue;
  color:white;
  padding:5px;
  border-radius:10px 20px 20px 10px;
}
/*pagina one two*/
main{
  display:block;
  width:100%;
  height:100vh;
}
#pagina_one_two{
  margin-top:50px;
  display:flex;
  width:100%;
  height:100vh;
}
#pagina_one{
  display:flex;
  width:100%;
  height:100vh;
  color:white;
  background:black;
}
#name{
  font-size:2.4rem;
  font-family:segunda;
  position:relative;
  left:20%;
  top:25%;
}
#name p{
  font-size:1rem;
  margin-top:20px;
}
#name a{
  display:block;
  text-align:center;
  width:150px;
  margin:10px 20%;
  background:red;
  color:white;
  border-radius:20px;
  font-family:terceira;
}
#pagina_two{
  position:relative;
  width:100%;
  height:100vh;
  background-image:url("imagens/pexels.jpg");
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-size:200% 200%;
  background-position:center center;
  color:white;
}
#pefil img{
  position:absolute;
  top:calc(55vh - 300px);
  left:25%;
  display:block;
  width:300px;
}
@media(max-width:1200px){
  header#nave{
    height:50px;
    font-size:.9rem;
    background:transparent;
    border:transparent;
  }
  #menu a{
    color:white;
  }
  #pagina_one_two{
    display:block;
  }
  #pagina_two{
    background-size:100% 100%;
  }
  #slideY span{
    width:50px;
    height:50px;
  }
}