/*Fonts*/
@font-face {
  font-family:primeira;
  src: url("../fonts/Poppins-ExtraBoldItalic.ttf");
}
@font-face{
  font-family:segunda;
  src: url("../fonts/Poppins-ExtraBold.ttf");
}
@font-face {
  font-family:terceira;
  src: url("../fonts/Inconsolata-VariableFont_wdth,wght.ttf");
}
*{
  margin:0px;
  padding:0px;
  border-sizing:border-box;
}
body,html{
  display:block;
  width:100%;
  height:100vh;
}