/*Fonts*/
@font-face {
  font-family:primeira;
  src: url("../fonts/Poppins-ExtraBoldItalic.ttf");
}
@font-face{
  font-family:segunda;
  src: url("../fonts/Poppins-ExtraBold.ttf");
}
@font-face {
  font-family:terceira;
  src: url("../fonts/Inconsolata-VariableFont_wdth,wght.ttf");
}
*{
  margin:0px;
  padding:0px;
  border-sizing:border-box;
}
body,html{
  display:block;
  width:100%;
  height:100vh;
}
span{
  color:blue;
}
#cenas_login{
  display:flex;
  flex-wrap:wrap;
  width:100%;
  height:100vh;
}
article#cena{
  flex:1 1 500px;
  display: block;
  width: 100%;
  height:100vh;
  background:url("../imagens/images.jpeg");
  background-repeat:no-repeat;
  background-size:100% 100vh;
}
article#cena h1{
  font-family:segunda;
  color:white;
  font-weight:bold;
  font-size:2rem;
  margin:10% 0px 0px 10%;
}
article#login{
  flex:1 1 500px;
  display:block;
  width:100%;
  height:100vh;
  font-family:segunda;
  margin:auto;
}
form#formulario{
  position:relative;
  display:block;
  margin:20%;
}
form#formulario h1{
  font-size:2rem;
  margin-bottom:10%;
}
form#formulario input{
  display:block;
  outline:none;
  border:none;
  border-radius:none;
  border-bottom:black 3px solid;
  width:70%;
  height:20px;
  padding:10px;
  margin:50px 0px 50px 0px;
}
form#formulario button{
  background:blue;
  width:150px;
  color:white;
  padding:7px;
  font-size:1.3rem;
  font-weight:bold;
  border-radius:50px;
  margin-top:50px;
}
#politica{
  display:flex;
  align-items:center;
  justify-content:space-between;
  width:400px;
  position:absolute;
  top:300px;
  right:25%;
  white-space:nowrap;
}
button a{
  color:white;
  text-decoration:none;
}