/*Fonte do Google-Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Estiiza;ao global*/
*{
  margin:0;
  padding:0;
}
::-webkit-scrollbar{
  display:block;
  width:5px;
  background:transparent;
}
::-webkit-scrollbar-thumb{
  background:rgb(1, 255, 107);
  border-radius:20px;
}
html,body{
  scroll-behavior: smooth;
}
body{
  width:100%;
  height:100dvh;
  background:rgb(5, 8, 17);
  font-family:"Poppins",sans-serif;
}
/*Parte da navega;ao onde contem os links,logo etc...*/
header{
  position:relative;
  top:0;
  left:0;
  display:flex;
  align-items:center;
  justify-content:space-between;
  width:100%;
  height:80px;
  z-index:1;
}
header nav{
  display:flex;
  align-items:center;
  justify-content:start;
  margin-right:80px;
  margin-top:10px;
}
.menu_ativo{
  position:fixed;
  top:0;
  left:0;
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
  height:100vh;
  background:rgb(5, 8, 17);
  z-index:-1;
}
/*logo*/
#logo_header,#logo_nav{
  margin:10px 30px 0px 0px;
  width:430px;
}
#logo_header{
  display:block;
}
#menu{
  position:absolute;
  display:none;
  bottom:30px;
  bottom:20px;
  right:0;
  width:40px;
  height:30px;
  margin-right:20px;
  margin-top:-20px;
  z-index:2;
}
#linha{
  position:relative;
  display:flex;
  align-items:center;
  justify-content:center;
  width:30px;
  height:0;
  border:solid rgba(255, 255, 255, 0.733) 1px;
  gap:20px;
}
#linha::after,#linha::before{
  position:absolute;
  display:block;
  width:30px;
  border:solid rgba(255, 255, 255, 0.733) 1px;
  content:"";
  transition:.2s;
}
#linha::after{
  top:18px;
}
#linha::before{
  top:9px;
}
.lin::after{
  left:0px;
  top:11px !important;
  transform:rotate(40deg);
}
.lin::before{
  left:0px;
  transform:rotate(-40deg);
}
.lin{
  border-color:transparent !important;
}
header ul{
  display:flex;
  align-items:center;
  justify-content:center;
  margin-right:7px;
  gap:45px;
}
li{
  list-style:none;
}
a{
  font-family:"Poppins","sans-serif";
  font-weight:500;
  text-decoration:none;
  color:rgba(255, 255, 255, 0.418);
  font-size:1rem;
  transition:.6s;
}
li:hover .link {
  cursor:pointer;
  color:rgb(1, 255, 107);
}
li:hover > .link::after{
  display:block;
  width:100%;
  height:.5px;
  content:"";
  background-image:linear-gradient(to right,
    transparent,
    rgb(1,255,107) 40%,
    rgb(1,255,107)
  );
}
#links_externos{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:10px;
  margin-right:30px;
}
#links_externos > #redes{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:14px;
}
#links_externos #btn_tema{
  display:flex;
  align-items:center;
  justify-content:center;
  width:60px;
  height:30px;
  background:none;
  border:solid transparent 1px;
  border-left-color:rgba(255, 255, 255, 0.534);
}
#links_externos #btn_tema > img.ceta{
  margin-left:4px;
}
#sistema-de-tema > ul{
  position:absolute;
  right:20px;
  top:60px;
  display:none;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  width:120px;
  height:100px;
  background:rgba(2, 1, 19, 0.363);
  border-radius:6.5px;
  box-shadow:0px 0px 3px rgba(73, 72, 72, 0.589);
  gap:0;
}
/*classe java script secao tema*/
.secao_tema{
  display:flex !important;
}
#sistema-de-tema > ul button{
  display:flex;
  justify-content:space-around;
  width:120px;
  border-radius:5px;
  font-weight:500;
  color:white;
  font-size:15px;
  padding:6px 3px;
  border:none;
  background:none;
  transition:.4s;
}
#sistema-de-tema > ul button:hover{
  background:rgba(1, 255, 107);
  color:black;
  cursor:pointer;
}
/*------------*/


/*Responsividade em dispositivos celulares*/
@media(max-width:1200px){
  header{
    position:relative;
    justify-content:space-between;
    flex-direction:row-reverse;
  }
  #menu{
    display:block;
  }
  #logo_nav,#logo_header{
    position:relative;
    right: 15%;;
    width:200px;
    margin:5px 0px 0px 0px;
  }
  #logo_header{
    display:block;
  }
  #logo_nav{
    display:none;
  }
  header nav{
    display:none;
    margin-right:0;
  }
  header > nav > ul{
    flex-direction:column;
  }
  header > li:hover{
    background:rgb(17, 17, 41);
    cursor:pointer;
  }
  header > nav > ul > li > a{
    font-size:1.2rem;
  }
  #links_externos{
    margin:0px 0px 0px 20px;
  }
  #sistema-de-tema > ul{
    width:140px;
    right:65%;
  }
}

/*Counteudo da pagina pt-inicio*/
#inicio,
.flex{
  width:100%;
  height:100vh;  
}
section.flex{
  display:flex;
  align-items:center;
  justify-content:center;
}
section.flex > .flex{
  display:block;
}
section.flex > .flex:nth-child(1){
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
}
section.flex > .flex:last-child{
  position:relative;
  width:60%;
  overflow:hidden;
}
section.flex > .flex:last-child::after{
  display:block;
  content:"";
  width:100%;
  height:100vh;
  background-image:linear-gradient(to left,
  rgba(0, 0, 0, 0.336) 40%,
  transparent,
  transparent);
  filter:blur(10px);
}
section.flex > .flex > article{
  margin:0px 0px 0px 100px;
}
.destaque-cor{
  font-weight:400;
  color:rgb(1,255,107);
}
section.flex > .flex > article > p{
  font-size:1rem;
  font-weight:400;
  color:rgba(255, 255, 255, 0.589);
  margin-bottom:5px;
}

section.flex > .flex > article > h3{
  font-size:1.2rem;
  font-weight:400;
  color:rgba(255, 255, 255, 0.589);
  margin-top:35px;
}
section.flex > .flex > article > h1{
  color:white;
  position:relative;
  font-size:2.5rem;
  font-weight:600;
}
.btn_trabalho{
  display:flex;
  align-items:center;
  justify-content:center;
  width:320px;
  height:55px;
  background:rgb(1,255,107);
  border-radius:3px;
  border:none;
  font-size:1rem;
  font-weight:300;
  color:white;
  margin:50px 0px 0px 0px;
  transition:.6s;
}
.btn_trabalho:hover{
  width:360px;
  cursor:pointer;
}
section.flex > .flex > svg{
  position:absolute;
  top:70px;
  left:100px;
}
@media(max-width:1200px){
  /*Counteudo da pagina pt-inicio*/
  section.flex{
    flex-direction:column;
  }
  section.flex > .flex:last-child{
    display:none;
    width:100%;
  }
  section.flex > .flex > article{
    display:flex;
    align-items:center;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;
    margin:60px 0px 0px 10px;
  }
  .destaque-cor{
    font-weight:400;
    color:rgb(1,255,107);
  }
  section.flex > .flex > article > p{
    font-size:.9rem;
    font-weight:400;
    color:rgba(255, 255, 255, 0.589);
    margin-bottom:5px;
  }
  section.flex > .flex > article > h3{
    width:94%;
    font-size:1.1rem;
  }
  section.flex > .flex > article > h1{
    width:95%;
    font-size:1.9rem;
    font-weight:500;
    margin:0px 0px 20px 0px;
  }
  .btn_trabalho{
    width:250px;
    height:58px;
    margin:55x 0px 0px 0px;
  }
  .btn_trabalho:hover{
    width:320px;
  }
  section.flex > .flex > svg{
    top:30px;
  }
}

/*Mim*/
#mim{
  height:100vh;
}
#mim > #sobre-mim{
  display:flex;
  align-items:center;
  justify-content:center;
  width:87%;
  height:80vh;
  background:rgba(0, 0, 0, 0.336);
  box-shadow:0px 0px 3px rgba(255, 255, 255, 0.233);
  border-radius:10px;
}
#mim > #sobre-mim > #dev{
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
  flex-direction:row;
}
#mim > #sobre-mim > div > .foto{
  position:relative;
  display:flex;
  flex-direction:column;
  align-items:start;
  justify-content:center;
  width:50%;
  height:80vh;
  border-radius:0px 0px 10px 10px;
  margin:0px 0px 0px 0px;
}

#mim > #sobre-mim > div > .foto > img#minha_foto{
  width:550px;
  filter:drop-shadow(0px 0px 2px rgb(1,255,107));
  transition: .6s;
}
#mim > #sobre-mim > div > .foto > img#minha_foto:hover{
  scale:1.05;
  filter:drop-shadow(0px 0px 5px rgb(1,255,107));
}
#mim > #sobre-mim > div > .foto::before{
  display:flex;
  align-items:center;
  justify-content:center;
  width:160px;
  height:28px;
  background:white;
  border:solid 1px rgba(255, 255, 255, 0.288);
  border-radius:15px;
  content:"Web Developer";
  margin:23px 0px 0px 15px;
  color:black;
  font-weight:500;
  font-size:.8rem;
}

#mim > #sobre-mim > div  .eu{
  display:block;
  width:60%;
  height:80vh;
  padding:20px 70px;
  color:#fff;
}
#mim > #sobre-mim > div > .eu > h5{
  font-size:1.2rem;
  color:rgb(1,255,107);
  margin:45px 0px 20px 0px;
  font-weight:400;
} 
#mim > #sobre-mim > div > .eu > h1{
  font-size:1.8rem;
  margin:9px 0px;
  font-weight:500;
}
#mim > #sobre-mim > div > .eu > p{
  font-size:1.1rem;
  font-weight:500;
  color:#fff;
}
#mim > #sobre-mim > div > .eu > p#info{
  font-size:1.07rem;
  font-weight:400;
  color:rgba(255, 255, 255, 0.479);
  margin-top:40px;
}
#mim > #sobre-mim > div > .eu > #rede_externas{
  display:block;
  width:100%;
  margin-top:40px;
}
#mim > #sobre-mim > div > .eu > #rede_externas > ul{
  display:flex;
  align-items:center;
  flex-wrap:wrap;
  gap:20px;
}
#mim > #sobre-mim > div > .eu > #rede_externas > ul > li{
  display:flex;
  align-items:center;
  justify-content:center;
  width:60px;
  height:60px;
  background:rgb(4, 4, 8);
  border-radius:6.7px;
  border:solid 2px rgba(34, 33, 33, 0.219);
  transition:.4s;
}

#mim > #sobre-mim > div > .eu > #rede_externas > ul > li:hover{
  border:solid 2px rgb(1,255,107);
  cursor:pointer;
}

@media(max-width:1200px){
  #mim > #sobre-mim{
    height:160vh;
  }
  #mim > #sobre-mim > #dev{
    flex-direction:column;
    height:100%;
  }
  #mim > #sobre-mim > div > .foto{
    height:100%;
    width:100%;
  }  
  #mim > #sobre-mim > div  .foto #minha_foto{
    display:none;
  }
  #mim > #sobre-mim > div  .eu{
    display:block;
    width:80%;
    height:100%;
    text-align:start;
  }
  #mim > #sobre-mim > div > .eu > h5{
    font-size:1.1rem;
    margin:10px 0px 20px 0px;
  } 
  #mim > #sobre-mim > div > .eu > h1{
    font-size:1.7rem;
    margin:15px 0px;
  }
  #mim > #sobre-mim > div > .eu > p{
    font-size:1.08rem;
    font-weight:300;
  }
  #mim > #sobre-mim > div > .eu > p#info{
    margin-top:30px;
  }
  #mim > #sobre-mim > div > .eu > #rede_externas > ul{
    gap:10px;
    margin-top:50px;
  }
  #mim > #sobre-mim > div > .eu > #rede_externas > ul > li {
    width:58px;
    height:58px;
  }
}

/*Projetos*/
#projetos{
  flex-direction:column;
  padding:50px 0px 0px 0px;
}
#projetos > h1{
  font-size:2rem;
  font-weight:600;
  margin:0px 0px 40px 0px;
}
#projetos  h3{
  font-size:1.1rem;
  color:rgb(1,255,107);
  font-weight:500;
  margin:40px 0px 100px 0px;
}
#projetos > #todos_os_projetos{
  display:flex;
  align-items:center;
  flex-wrap:wrap;
  width:90%;
  gap:20px;
}
#projetos > #todos_os_projetos > div.projeto{
  display:block;
  width:340px;
  height:170px;
  background:rgba(0, 0, 0, 0.336);
  border-radius:.5px;
  border:solid 1.3px white;
  padding:20px;
  transition:.4s;
}
#projetos > #todos_os_projetos > div.projeto > h4{
  font-size:1.2rem;
  font-weight:600;
  margin:10px 0px 20px 0px;
}
#projetos > #todos_os_projetos > div.projeto > p{
  font-size:1.08rem;
  font-weight:400;
  color:rgba(255, 255, 255, 0.589);
  margin:10px 0px 20px 0px;
}
#projetos > #todos_os_projetos > div.projeto  button.btn_acessar_projeto{
  display:flex;
  align-items:center;
  text-align:start;
  justify-content:start;
  width:170px;
  height:40px;
  font-size:1.3rem;
  font-weight:500;
  background:none;
  border:none;
  transition:.6s;
}
hr{
  width:0px;
  border-radius:20% 0px;
  transition: .4s;
}
#projetos >   a > h3:hover  > hr {
  width:100px;
}
#todos_os_projetos > div a:hover >hr {
  width:100px;
}
#projetos > #todos_os_projetos > div.um,
#projetos > #todos_os_projetos > div.um  hr{
  border-color:rgb(163, 8, 8);
}
#projetos > #todos_os_projetos > div.dois,
#projetos > #todos_os_projetos > div.dois hr{
  border-color:rgb(10, 10, 146);
}
#projetos > #todos_os_projetos > div.tres,
#projetos > #todos_os_projetos > div.tres hr{
  border-color:rgb(95, 6, 179);
}
#projetos > #todos_os_projetos > div.quatro,
#projetos > #todos_os_projetos > div.quatro hr{
  border-color:transparent;
}
#projetos > #todos_os_projetos > div.quatro:hover{
  border-color:rgb(1,255,107);
}

#projetos > #todos_os_projetos > div.um  button{
  color:rgb(163, 8, 8) ;
}
#projetos > #todos_os_projetos > div.dois  button{
  color:rgb(10, 10, 146);
}
#projetos > #todos_os_projetos > div.tres button{
  color:rgb(95, 6, 179);
}
#projetos > #todos_os_projetos > div.quatro  button{
  color:transparent;
}

@media(max-width:1200px){
  /*Projetos*/
  #projetos{
    height:220vh;
  }
  #projetos > h1{
    margin:20px 0px 40px 0px;
  }
  #projetos  h3{
    font-size:1.2rem;
  }
  #projetos > #todos_os_projetos{
    justify-content:center;
    width:100%;
  }
  #projetos > #todos_os_projetos > div.projeto{
    width:80%;
    height:160px;
  }
  #projetos > #todos_os_projetos > div.projeto button{
    font-size:1.6rem;
  }
}

/*servicos prestados ao cliente ou contratante*/
#servicos{
  flex-direction:column;
  
  background:rgb(9,9,17);
}
#servicos > h1{
  font-size:2rem;
  font-weight:600;
  margin:20px 0px 40px 0px;
}
#servicos > #contrate{
  display:flex;
  align-items:center;
  flex-wrap: wrap;
  gap:20px;
}
#servicos > #contrate > .servicos{
  display:block;
  width:310px;
  height:250px;
  background:rgba(0, 0, 0, 0.336);
  border-radius:3px;
  border:solid .1px rgba(255, 255, 255, 0.151);
  padding:30px;
  transition:.4s;
}
#servicos > #contrate > .servicos > img{
  width:60px;
  margin:7px 0px 40px 0px;
}
#servicos > #contrate > .servicos:hover{
  border-color:rgb(1,255,107);
}
#servicos > #contrate > .servicos > h4{
  font-size:1.6rem;
  font-weight:600;
  margin:0px 0px 30px 0px;
}
#servicos > #contrate > .servicos > p{
  color:rgba(255, 255, 255, 0.534);
  font-weight:400;
  font-size:1.08rem;
}

@media(max-width:1200px){
  /*servicos prestados ao cliente ou contratante*/
  #servicos{
    height:160vh;
  }
  #servicos > #contrate{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap: wrap;
    gap:20px;
  }
  #servicos > #contrate > .servicos{
    display:block;
    width:310px;
    height:250px;
    background:rgba(0, 0, 0, 0.336);
    border-radius:3px;
    border:solid .1px rgba(255, 255, 255, 0.151);
    padding:30px;
    transition:.4s;
  }
  #servicos > #contrate > .servicos > img{
    width:60px;
    margin:7px 0px 40px 0px;
  }
  #servicos > #contrate > .servicos:hover{
    border-color:rgb(1,255,107);
  }
  #servicos > #contrate > .servicos > h4{
    font-size:1.6rem;
    font-weight:600;
    margin:0px 0px 30px 0px;
  }
  #servicos > #contrate > .servicos > p{
    color:rgba(255, 255, 255, 0.534);
    font-weight:400;
    font-size:1.08rem;
  }
}

/*Conhecimentos / habilidades*/
#conhecimentos > div{
  width:100%;
  height:100vh;
  padding: 0px 0px 0px 10px;
}
#conhecimentos > #area_de_habilidades > h3{
  font-size:1.6rem;
  font-weight:600;
  margin:50px 0px 10px 20px;
  color:#fff;
}

#conhecimentos > #area_de_habilidades > p{
  color:rgba(255, 255, 255, 0.562);
  margin:0px 0px 0px 20px;
}
#conhecimentos > #area_de_habilidades{
  padding:0px 80px;
}
#conhecimentos > #linguaguems{
  display:flex;
  align-items:center;
  flex-wrap:wrap;
  gap:20px;
}
#conhecimentos > #linguaguems > div{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  width:100px;
  height:100px;
  background:rgba(0, 0, 0, 0.336);
  border-radius:4.4px;
  border:solid .1px rgba(255, 255, 255, 0.116);
  padding:10px;
  transition:.4s;
}
#conhecimentos > #linguaguems > div:hover{
  border-color:rgb(1,255,107);
}


@media(max-width:1200px){
  /*Conhecimentos / habilidades*/
  #conhecimentos{
    height:150vh;
  }
  #conhecimentos > #area_de_habilidades{
    height:20vh;
    padding:0px 0px 0px 0px;
    margin-bottom:20px;
  }
  #conhecimentos > #linguaguems{
    justify-content:center;
    align-items:center;
    margin-top:30px;
  }
  #conhecimentos > #linguaguems > div{
    width:90px;
    height:90px;
  }
}

/*rodape do nosso site*/
footer{
  display:flex;
  align-items:center;
  justify-content:space-around;
  width:100%;
  height:70px;
  background:rgb(9, 9, 17);
  color:white;
  margin:45px 0px 0px 0px;
}
footer > h4{
  font-size:.9rem;
  font-weight:500;
}
footer > strong{
  font-weight:500;
}
footer > strong > img{
  
}
@media(max-width:1200px){
  footer{
    height:60px;
  }
  footer > h4{
    font-size:.7rem;
  }
  footer > strong{
    font-size:.6rem;
    font-weight:500;
  }
  footer > strong > img{
    
  }
}

/*Animando com CDN - ScrollReveal*/
.txt-animation{
  visibility:hidden;
}
h1,h4{
  color:#fff;
}